* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template: auto 1fr auto / 1fr auto;
}
header {
    background: lightpink;
    grid-column: 1/3;
}
h1 {
    padding: 1rem;
    margin: 1rem;
}
nav {
    background: lightblue;
    padding: 2rem;
    /* width: 100%; */
    grid-column: 1/3;
    display: flex;
    justify-items: center;
}
nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    flex: 1 1 auto;
    text-align: center;
}
main {
    background: lightgreen;
    padding: 2rem;
    grid-column: 1/2;
}
aside {
    background: lightyellow;
    padding: 2rem;
    grid-column: 2/3;
}
footer {
    background: lightgray;
    padding: 2rem;
    grid-column: 1/3;
}