:root {
    --primary-color: #0D47A1;
    --accent-color: #FFC107;
    --background-color: #F4F7F6;
    --block-background: #FFFFFF;
    --text-color: #212121;
    --hover-accent: #FFB300;
    --font-family: "Roboto", sans-serif;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}

/* Header Styles */

header {
    background-color: var(--primary-color);
    align-items: center;
    justify-items: center;
}

header span {
    display: block;
    color: white;
    padding: 16px;
    font-weight: bold;
}

.navigation {
    padding: 16px;
    width: 100%;
    background-color: var(--block-background);
}

.navigation ul {
    display: flex;
    list-style-type: none;
    
}

.navigation ul li {
    flex: 1 1 auto;
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    padding: 8px;
}