@media (min-width: 700px) {
    nav {
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    main {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    header h1 {
        font-size: 2rem;
    }

    figure img {
        height: 220px;
    }
}