:root {
    --primary-color: #f3f3f3; /* Vanilla */
    --secondary-color: #54095b; /* Rose Taupe - Morado Oscuro */
    --accent1-color: #000000; /* Cowhide Cocoa */
    --accent2-color: #f1e8d1fa;
    --heading-font: "Playfair Display", serif;
    --body-font: "Source Sans 3", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/*--------------HEADER----------------*/
header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
    font-family: var(--heading-font);
}

body {
    background-color: var(--accent2-color);
}

h2 {
    font-family: var(--heading-font);
    color: #54095b;
    text-align: center;
    padding: 2rem;
}

p {
    font-family: var(--body-font);
    text-align: center;
    font-size: 1rem;
}
/*--------------FOOTER----------------*/
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-family: var(--body-font);
    padding: 1rem;
}