:root {
    --primary-color: #000000;
    --secondary-color: #daa520;
    --background-color: #f1e8d1fa;
    --heading-font: "Roboto", sans-serif;
    --body-font: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

body {
    background-color: var(--background-color);
}

h2 {
    color: var(--primary-color);
    text-align: center;
    padding: 2rem;
}

p {
    font-family: var(--body-font);
    text-align: center;
    font-size: 1rem;
}
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    padding: 1rem;
}